{% extends "explorer/base.html" %}

{% load explorer_tags %}

{% block sql_explorer_navlinks %}
    {% if can_change %}
      <li><a href="{% url "query_create" %}">New Query</a></li>
      <li class="active"><a href="">Playground</a></li>
      <li><a href="{% url "explorer_logs" %}">Logs</a></li>
    {% endif %}
{% endblock %}

{% block sql_explorer_content %}
<div class="row">
    <div id="query_area" class="col-md-12">
        <h2>File Saved</h2>
        <p>The requested file was saved to your Workspace at {{ file_location }}</p>
        <br>
        <button onclick="goBack()">Go Back</button>

</div>

{% endblock %}

{% block sql_explorer_scripts %}
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
{% endblock %}
